body, html{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  font-size: 20px;
}
.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home{
  background-image: url(/img/veggies.jpg);
  height: 100%;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#menu{
  background-image: url(/img/lowCountryBoil.jpg);
}
#menu h2{
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#services{
  background-color: #fff;
  text-align: center;
}

#contact{
  background-color: #fff;
}

.container h1{
  text-align: center;
  font-size: 5em;
}
.container h2{
  text-align: center;
  font-size: 3.5em;
}
.container h3{
  text-align: center;
  font-size: 2em;
}

#services .row:last-child{
  margin-bottom: 20px;
}

h1 small{
  color: #fff;
}

.service .image img{
  width:100%;
  height:auto;
}

.contactInfo{
  text-align: center;
}
.contactInfo .icon{
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 10px;
}
